<div id="navigationMenu">
	<form action="/home">
		<input class="navButton" id="Home" action="/home" type="submit" method="get" value="Home" />
	</form>
	<form action="/search">
		<input class="navButton" id="Search" action="/search" type="submit" method="get" value="Search"/>
	</form>
	<form action="/favorites">
		<input class="navButton" id="Favorites" action="/favorites" type="submit" method="get" value="Favorites"/>
	</form>
	<form action="/recommendations" enctype="application/json">
		<input class = "navButton" id="Recommendations" action="/recommendations" type="submit" method="get" value="Recommendations"/>
	</form>
	<form action="/settings">
		<input class="navButton" id="Settings" action="/settings" type="submit" method="get" value="Settings"/>
	</form>
	<form action="/logout">
		<input class="navButton" id="Logout" action="/" type="submit" method="get" value="Logout"/>
	</form>
	<img class="icon" id="navIcon" src='clapper-icon.png'/>
</div>