<!DOCTYPE html>
<html>

<head>
    <title>Favorites</title>

    {{> style}}
</head>

<body>
    {{> navigation}}
    <div class="contentDiv" id="favPage">
        <h1>Favorites</h1>
        <div class="results" id="favoriteResults">
            {{{favorites}}}
        </div>
    </div>
</body>

</html>