<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    {{> style}}
</head>

<body>
    {{> navigation}}
    <div class="contentDiv" id="homePage">
        <h1>MyMovieList</h1>
        <img class="icon" id="homeIcon" src='film-icon.png' />
        Use the navigation bar on the left to go through our website features:<br>
        Home - Return to this page<br>
        Search - Search for movies from TheMovieDB based on key words<br>
        Favorites - Save your favorite movies to a list from the search<br>
        Recommendations - Generate recommendations for movies based on your favorites<br>
        Settings - Change your username or password<br>
        Logout - End your session<br>
    </div>
</body>

</html>