<!DOCTYPE html>
<html>

<head>
    <title>Recommendations</title>

    {{> style}}
</head>

<body>
    {{> navigation}}
    <div class="contentDiv" id="recPage">
        <h1>Recommendations</h1>
        <div class="results" id="recResults">
        	{{{recommendations}}}
        </div>
    </div>
</body>

</html>